<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashme: Your personal dashboard!</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--<link href="css/home.css" rel="stylesheet">-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

<body>
  &nbsp;
  <div class="container">
    <div class="jumbotron">
      <h1>DashMe</h1>
      <p>Get funky twice a week for good health.</p>
    </div>

	<div class="row">
	  <div class="col-lg-6">
	    <div class="input-group">
	      <form action="/">
	        <input type="text" class="form-control" placeholder="Fat Bastard" name='name'>
		<input type="text" class="form-control" placeholder="630" name='weight'>
		<span class="input-group-btn">
	          <button class="btn btn-default" type="submit">Save!</button>
	        </span>
	      </form>
	    </div><!-- /input-group -->
            <hr/>
	    Keys and values:
            <pre>
<%= JSON.stringify(keys, null, 2) %>
            </pre>
	  </div><!-- /.col-lg-6 -->

  </div>

  <script src="jquery/dist/jquery.min.js"></script>
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
